.todo{
    display: flex;
    width:300px;
    justify-content: space-between;
    align-items: center;
    margin-left: -50px;
    border-color: white;
    border-width: 5px;
    

    
}
.todoCheck{
    
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50px;
    cursor: pointer;
    
    
}
.todoX{
    background-color: #282c34;
    border: none;
    color: red;
    cursor: pointer;
    
}

li{
   padding-top: 10px;
}